header {
    background: grey;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    /*centralizar um conteudo*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    /*trasformação do texto para deixar tudo em maisculo */
    color: #000000;
    font-weight: bold;
    /*peso em negrito*/
    font-size: 22px;
    text-decoration: none/*tirou decoração*/
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    /*largura fixa*/
    margin: 0 auto;
    /*espaçameto de 0 para cima e baixo e auto matico dos lados */
    padding: 50px 0/* espaçamento interno*/
}

.produtos li:hover {
    border-color: #c78c19;
}


/*quando o elemento está sendo clicado pelo usuario */

.produtos li:active {
    border-color: green;
}


/*Quando os produtos li tiver com o mouse em cima quero alterar o h2*/

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li {
    display: inline-block;
    /* O tamanho pode ser ajustado, tanto na largura, quanto na altura.*/
    text-align: center;
    width: 30%;
    /* largura */
    vertical-align: top;
    /*alianhando pela linha de cima pois o inline-block alinha por baixo */
    /*background-color: #cccccc; */
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /* definindo sempre como 30px */
    /*3 configuração que monta uma borda*/
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    /*simplificando --> border: 2px solid  #000000*/
    border-radius: 10px;
}

.produtos h2 {
    font-size: 30px;
    /* tamanho de fonte*/
    font-weight: bold/*peso da fonte em negrito */
}

.descrição {
    font-size: 18px;
}

.preço {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url("https://lh3.googleusercontent.com/proxy/8khPLWeie7paVsGxpM_fL3ouVC01I3wz_GY1q5BNLT16ijuFkwyuhzLpBpV04JdsEN3choZ5ghOnWk69PPmYGMaBs61na1i6VwmFAnhjLO_2avXsp9fYaLbN4wBIpgQjcDoHIjoiY5Kt2TA");
    /*o css copia a imagem pequena varias vezes para pode forma uma maior, pois assim nao consome a banda do usuario*/
}

.Copyright {
    font-size: 13px;
    color: white;
    padding: 20px 0;
}